body {
	/* background-color: black; */
	background-image: url("background.png");
	background-repeat: repeat;
	background-size: 150px;
}

h1 {
	font-family: 'determination_mono_webregular';
	color: white;
}